@font-face {
  font-family: fontA;
  src: url(Hind-Regular.ttf);
}
@font-face {
  font-family: fontB;
  src: url(JosefinSans-Regular.ttf);
}
@font-face {
  font-family: fontC;
  src: url(K2D-Regular.ttf);
}
@font-face {
  font-family: fontD;
  src: url(AbrilFatface-Regular.ttf);
}
@font-face {
  font-family: Lato;
  src: url(Lato-Regular.ttf);
}